@media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    body {
        font-family: 'Khula', sans-serif;
        background-color: rgba(241, 241, 241, .9);
    }
    .text-center{
        text-align: center;
    }

    /*---- header ------------------------------------------*/
    header {
        color: rgba(255, 255, 255, 1);
        background: #2856B6;
        -moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .3);
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .3);
    }

    #search-wraper, #search-wraper .input-field{
        margin-top: -10px;
    }

    #search-wraper input{
        margin-bottom: 0;
    }

    #search-span {
        position: relative;
        top: 36px;
        right: -94%;
    }

    #search-wraper #search-span .fa-search {
        font-size: 26px;
        color: #fff;

    }

 /*   #search-wraper .form-control {
        width: 95%;
        margin-right: 0;
        margin-left: 0;
        display: inline;
        border-radius: 0 !important;
        border-style: none;
        background-color: rgba(255, 255, 255, .3) !important;
        color: white;
    }
*/
    #search-wraper .form-control::placeholder {
        color: white;
        opacity: .8 !important;
    }

    #logOut-wraper .dropdown .btn {
        padding: 0;
        background: transparent;
    }

    #logOut-wraper {
        margin-top: 20px;
    }

    #logOut-wraper .dropdown .btn:visited {
        color: white !important;
    }

    #logOut-wraper .dropdown .btn:hover {
        color: white !important;
    }

    #logOut-wraper .dropdown .dropdown-menu {
        left: 0px;
        padding-left: 10px;
    }

    #logOut-wraper .dropdown .dropdown-menu {
        text-decoration: none;
    }

    .search-form {
        width: 80%;
    }

    .search-suggestions {
        color: #000;
        background: #FFF;
        position: absolute;
        z-index: 2456;
        width: 100%;
        box-shadow: 5px 5px 5px #888;
        font-size: 26px;
        overflow-y: auto;
        max-height: 400px;
    }

    .search-suggestions .row {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        padding: 20px;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
    }

    .search-suggestions .row:hover {
        background-color: #DDD;
        cursor: pointer;

    }

    .search-suggestions .nom {
        margin-top: 3%;
    }

    /*------------main content*-------------------------------*/
    /*-----main div ----*/
    #main-div {
        padding-top: 10px;
    }

    .stat {
        border-radius: 0px;
        padding: 15px 0px 15px 0px;
        color: white;
        margin-right: 1%;
    }

    .stat a{
        color: #FFF;
    }

    #stats-wrapper .l3 {
        width: 23%;
    }

    #stats-wrapper .shadow {
        -moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .3);
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .3);
    }

    #main-div .row {
        margin-bottom: 20px;
    }

    #first-stat-div {
        background-color: rgb(50, 199, 135);
    }

    #second-stat-div {
        background-color: rgb(255, 86, 82);
    }

    #third-stat-div {
        background-color: rgb(255, 193, 7);
    }

    #forth-stat-div {
        background-color: rgb(213, 89, 234);
    }

    #title-wrapper h5 {
        opacity: .8;
    }

    .stat div {
        display: inline;
    }

    .stat-text {
        width: 70%;
    }

    .stat-text span {
        display: block;
    }

    .stat-font {
    }

    .legend {
        font-size: 17px;
    }

    .number {
        font-size: 56px;
    }
    /*----------------*/
    /*----doctors table----*/
    table.striped > tbody > tr:nth-child(2n+1){
        background-color: #FFF;
    }
    table .tabledit-input{
        margin: 0;
    }
    table thead{
        background-color: #3c3c3c;
        color: #FFF;
    }
    /*--------------------*/
    #main-wrapper {
        padding-top: 10px;
    }

    #table-wrapper {
        padding-left: 0;
    }

    #table-wrapper .table-responsive .table {
        margin-bottom: 0;
    }

    #table-wrapper .table tr:hover {
        cursor: pointer;
    }
    .control-btn-wrapper .control-btn {
        border-radius: 0;
        padding: 10px;
        border: transparent;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
    }

    .control-btn-wrapper .control-btn:hover {
        background-color: #555;
    }

    .chev-btn {
        background-color: #2856B6;
        height: 56px;
        width: 56px;
    }

    /*------sidebar---------------------------------------*/
    aside {
        padding: 20px 10px;
        height: 600px;
    }

    #header-wrapper {
        background-color: rgba(0, 0, 0, .03);
        padding: 10px;
        margin-bottom: 30px;
    }

    #legend-wrapper h6 {
        width: 90%;
        margin-left: 7%;
        opacity: .5;
    }

    #user-img {
        width: 44%;
        height: 15%;
        margin-left: 30%;
    }

    #home-wrapper h6 a {
        margin-bottom: 20px;
        color: #2856B6;
    }

    #home-wrapper h6 a:visited {
        text-decoration: none;

    }

    #home-wrapper h6 a:hover {
        text-decoration: none;
    }

    #home-wrapper h6 a .fa-home {
        margin-right: 10px;
    }

    .item-header {
        padding: 10px 5px;
        margin-bottom: 0;
    }

    #item-header1 h6 {
        color: rgb(50, 199, 135);
    }

    #item-header2 h6 {
        color: rgb(255, 86, 82);
    }

    #item-header3 h6 {
        color: rgb(255, 193, 7);
    }

    #item-header4 h6 {
        color: rgb(213, 89, 234);
    }

    .item-header:hover {
        background-color: rgba(0, 0, 0, .03);
        cursor: pointer;
    }

    .item-header h6 {
        opacity: .8;
    }

    .item-header h6 .fa {
        margin-right: 10px;
    }

    .item-body {
        margin-left: 40px;
    }

    .item-body h6 {
        margin-bottom: 20px;
    }

    .item-body h6 a {
        color: rgba(0, 0, 0, .5) !important;
        text-decoration: none;
    }

    .item-body h4 a:hover {
        color: rgba(40, 86, 182, 1);
    }

}

/*end of the laptop desktop design*/